/*---  This is my css page. ---*/

body {
    font-family: 'Roboto', sans-serif;
    color: #444444;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    background-color:#ffffff
}

/*---  This is where I format the header. ---*/

header {
    background-color: #538959;
    padding: 1rem 2vw;
}
header p {
    letter-spacing: .5px;
}
header h1, header p {
    margin: 0;
    color: #eaeaea;
}

/*---  This is where I format the navigation. ---*/

nav {
    background-color: #f2cea2;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
    
}
nav a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #444444;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
    min-height: 0px; 
}
nav a:hover {
    color: white;
    text-decoration: underline; 
}

nav li.active a {
    background-color: #538959;
    color: #f2cea2;
}

/*---  This is where I format the main section. ---*/
main {
    padding: 1rem 2vw;
}

main h1 {
    color: #444444;
}

main h2 {
    color: #444444;
}

main p {
    color: #444444;
    margin: 0 0 .5rem 0;
}

main ol {
    padding: .5rem 3vw;
    background-color: #f2cea2;
    border: 3px solid #538959; 
    border-radius: .5rem; 
}

main dl dt {
    color: #a62934;
    font-weight: 700;
}

main dl dd {

    color: #444444;
    font-size: .9rem;
}

main ul {
    list-style-type: none; 
    padding: .3rem 1.75vw; 
    margin: 0; 
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    list-style-type: lower-roman;
}

ul{ 
    padding: .3rem 5vw; 
    margin: 0;  
}

h1 {
    color: #444444
 }

h2{
    padding: 0rem 2vw;
    color: #444444
}

address {
    font-style: normal;
    background-color: #f2cea2;
    padding: .5rem;
    width: 12.5rem;
    border: 3px solid #538959;
    border-radius: .8rem;
    margin: 20px; /* Adjust the margin to move the element away from the right edge */
}

/*---  This is where I format the footer. ---*/

footer {
    background-color: #538959;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

footer{
    clear:both;
}

/* Back to Top Link */
a[href="#top"] {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #538959;
}



figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure {
    margin:.5rem 2% 0 0;

}

div.gallery figcaption {
    text-align: center; 
    font-size: .8rem;
    color:#444444;
}


/* Pseudo-class for links in content */

main a:hover {
    color: #f2cea2; 
}

a {
    text-decoration: none;
}



